<p id="notice"><%= notice %></p>

<h1>Listing Trainers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= trainer.username %></td>
        <td><%= link_to 'View Trainer', trainer %></td>
        <td><%#= link_to 'Edit', edit_trainer_path(trainer) %></td>
        <td><%#= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user == nil %>
<%= link_to 'New Trainer', new_trainer_path %>
<% end %>
<%= link_to 'Home', root_path %>
<%= link_to 'New Pocketmonster', new_pocketmonster_path %>
